
*.env
__pycache__/config_reader.cpython-310.pyc
anything.session
chatNews.txt
readme.txt
chatNews.txt
chatNews.txt
__pycache__/config_reader.cpython-310.pyc
anything.session-journal
cb — копия.py
cb1.py
imovers.session
interesting.py
chatNews.txt
cb_work.py
petr_chatNews.txt
interesting2.py
chatNews.txt
